<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <script defer src="/public/app.js"></script>
  <title>Websocket</title>
</head>
<body>
  <header>
    <h1>Welcome to Websocket Chat</h1>
  </header>
  <main>
    <h2>Please write a nickname</h2>
    <form action="" id="nicknameForm">
      <input type="text" placeholder="Please write your nickname" required>
      <button>Submit</button>
    </form>
    <ul></ul>
    <form action="" id="messageForm">
      <input type="text" placeholder="write a message" required>
      <button>Submit</button>
    </form>
  </main>
</body>
</html>
